/* variaveis de cor */

:root {
  --cor-background: #438eba;
  --cor-link: #cbd0d3;
  --cor-titulo: #393e41;
  --cor-texto: #e1e5e8;
}

body {
  font-size: 16px;
  background-color: var(--cor-background);
}

.nav__title,
.about__name,
.contato h2,
.skills h3 {
  color: var(--cor-titulo);
}

.nav__title {
  font-size: 1.5em;
}

.anchor {
  text-decoration: none;
  color: var(--cor-link);
  font-family: monospace;
}

.about__name {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}

.about__picture {
  border-radius: 100%;
}

.about__text,
.skills li {
  color: var(--cor-texto);
}

.about__text {
  font-family: monospace;
  text-align: justify;
  padding: 1em;
}

#contato {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
}

.contato li {
  font-style: italic;
}

.skills h3 {
  font-size: 1.6em;
  font-family: "Montserrat", sans-serif;
}

.skills li {
  font-size: 1.2em;
  font-family: monospace;
}
