body {
  font-size: 16px;
  background-color: #343a40;
  color: #e9ecef;
}

.nav__title {
  color: #ced4da;
  font-size: 1.5em;
}

.anchor {
    text-decoration: none;
    color: #ADB5BD;
    font-family: monospace;
}



.about__name{

    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.about__picture{

    border-radius: 100%;
}

.about__text{

    font-family: monospace;
    text-align: justify;
    padding: 1em;
}

#contato{

    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
}

.contato li{

    font-style: italic;
}

.skills h3{

   font-size: 1.6em;
   font-family:'Montserrat', sans-serif;
}

.skills li{

    font-size: 1.2em;
    font-family: monospace;
}